

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @artist.photo.image %>
</p>
<p>
<strong>Artist:</strong>
  <%= @artist.name %>
</p>

<h4>All songs</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= song.title %></li>
      song = Song.find(params[:song][:artist_id])
      <p><%= link_to Listen, song_path %></p>
    <% end %>
  </ul>
<% else %>
  <p>No songs yet, you can add one below</p>
<% end %>

<p><%= link_to "Add a new song", new_song_path%></p>
<p><%= link_to "Delete artist", artist_path(@artist), method: :destroy,
              data: { confirm: 'Are you sure?' } %></p>

<p><%= link_to "terug naar artiesten", artists_path %></p>
