    <p> Add a new song </p>

    <%= form_for @song do |f| %>
    <!--set default naar huidige artiest-->
    <p><%= f.label :artist_id %>
    <%= f.collection_select(:artist_id, Artist.all, :id, :name)%></p>

    <p><%= f.label :title %>
    <%= f.text_field :title %></p>

    <p><%= f.label :lenght_in_min %>
    <%= f.number_field :lenght_in_min %></p>

    <p><%= f.submit (@artist)%></p>

    <% end %></p>
    <p><%= link_to "Back to artists", artists_path %></p>
